In [1]:
import pandas as pd #Series: A one-dimensional labeled array (like a single column in Excel)
#DataFrame: A two-dimensional labeled table (like an Excel sheet or SQL table)

In [7]:
s1 = pd.Series([66,77,78,88,44])

In [8]:
type(s1)

pandas.core.series.Series

In [9]:
print(s1)

0    66
1    77
2    78
3    88
4    44
dtype: int64

In [12]:
s2 = pd.Series([66,77,78,88,44],index=["harry","shubh","rohan","akash","naina"])

In [13]:
s2

harry    66
shubh    77
rohan    78
akash    88
naina    44
dtype: int64

In [14]:
s2["harry"]

66

In [17]:
data = {
    "name": ["Alice", "Bob", "Charlie"], #each column is a series
    "age": [25, 30, 35],
    "city": ["Delhi", "Mumbai", "Bangalore"]
}

df = pd.DataFrame(data)
print(df)

      name  age       city
0    Alice   25      Delhi
1      Bob   30     Mumbai
2  Charlie   35  Bangalore

In [18]:
df.index # Row labels

RangeIndex(start=0, stop=3, step=1)

In [19]:
df.columns  # Column labels

Index(['name', 'age', 'city'], dtype='object')