In [1]:
import pandas as pd

In [2]:
df = pd.read_csv("data1.csv")

In [3]:
df

,Actor,Film,Year,Genre,BoxOffice(INR Crore),IMDb
0,Shah Rukh Khan,Pathaan,2023,Action,1050,7.2
1,Salman Khan,Tiger Zinda Hai,2017,Action,565,6.0
2,Aamir Khan,Dangal,2016,Biography,2024,8.4
3,Ranbir Kapoor,Brahmastra,2022,Fantasy,431,5.6
4,Ranveer Singh,Padmaavat,2018,Historical,585,7.0
5,Ayushmann Khurrana,Andhadhun,2018,Thriller,111,8.3
6,Rajkummar Rao,Stree,2018,Horror Comedy,180,7.5
7,Hrithik Roshan,War,2019,Action,475,6.5
8,Akshay Kumar,Good Newwz,2019,Comedy,318,7.0
9,Kartik Aaryan,Bhool Bhulaiyaa 2,2022,Horror Comedy,266,5.9
10,Varun Dhawan,Badrinath Ki Dulhania,2017,Romantic Comedy,201,6.1
11,Vicky Kaushal,Uri: The Surgical Strike,2019,Action,342,8.2

In [5]:
df=df[df['IMDb']>6.0]

In [6]:
df

,Actor,Film,Year,Genre,BoxOffice(INR Crore),IMDb
0,Shah Rukh Khan,Pathaan,2023,Action,1050,7.2
2,Aamir Khan,Dangal,2016,Biography,2024,8.4
4,Ranveer Singh,Padmaavat,2018,Historical,585,7.0
5,Ayushmann Khurrana,Andhadhun,2018,Thriller,111,8.3
6,Rajkummar Rao,Stree,2018,Horror Comedy,180,7.5
7,Hrithik Roshan,War,2019,Action,475,6.5
8,Akshay Kumar,Good Newwz,2019,Comedy,318,7.0
10,Varun Dhawan,Badrinath Ki Dulhania,2017,Romantic Comedy,201,6.1
11,Vicky Kaushal,Uri: The Surgical Strike,2019,Action,342,8.2

In [8]:
df.to_csv("data_updates.csv", index=False)

In [17]:
df = pd.read_excel("data.xlsx")

In [18]:
df

      Name School  Marks
0   Kartik    THB     89
1  Shubham    ERF     78
2    Rohit    SRK     65
3    Kapur    SSK     78
4    Akash    DDD     89
5    Rohan    DDD     99
6    Rishi    DKD     87
7     Alex    KPS     74

In [13]:
df.to_excel("output.xlsx", index=False)

In [16]:
df

      Name School  Marks
0   Kartik    THB     89
1  Shubham    ERF     78
2    Rohit    SRK     65
3    Kapur    SSK     78
4    Akash    DDD     89
5    Rohan    DDD     99
6    Rishi    DKD     87
7     Alex    KPS     74

In [ ]:
with pd.ExcelWriter("report.xlsx") as writer:
    df1.to_excel(writer, sheet_name="Summary", index=False)
    df2.to_excel(writer, sheet_name="Details", index=False)

In [ ]:
df = pd.read_json("data.json")

In [ ]:
# we can use pd.json_normalize(data) a fn used to normalize data from dictionary to proper format...